<!DOCTYPE html SYSTEM "https://www.thymeleaf.org/dtd/xhtml1-strivt-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Novo Professor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

<br>
<div class="container">
    <div class="row">
        <h1>Novo Professor</h1>
        <hr>
    </div>

    <div class="container">
      <div class="row">
        <form action="/professores" method="post">
          <div class="mb-3">
            <label class="form-label">Nome</label>
            <input class="form-control" type="text" name="nome">
            <div></div>
          </div>
          <div class="mb-3">
            <label class="form-label">Salário</label>
            <input class="form-control" type="text" name="salario">
          </div>
          <div class="mb-3">
            <label class="form-label">Status</label>
            <select class="form-select" name="statusProfessor">
              <!--<option value="ATIVO">ATIVO</option>
              <option value="ATIVO">INATIVO</option>
              <option value="ATIVO">APOSENTADO</option>
              <option value="ATIVO">AFASTADO</option>-->

                <option th:each="status : ${statusProfessor}"
                      th:value="${status}" th:text="${status}"></option>
            </select>
          </div>
          <button class="btn btn-primary" type="submit">Submeter</button>
          <a href="javascript:history.back()">Voltar</a>
        </form>
      </div>
    </div>
</div>
</body>
</html>